/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

tr , td {
    border: 1px solid #999;
    padding: 0.5rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.allTeachers {
    background: url(../../wwwroot/css/Images/Teachers_Background.jpg);
    background-repeat: no-repeat;
}

.blueGradientBody {
    background: linear-gradient(to bottom, #99ccff 10%, #ffffff 100%);
    /*background: linear-gradient(to bottom, #99ccff 24%, #ffffff 100%);*/
}


.pictureBookThemeTeachers {
    /*background: url(../../wwwroot/css/Images/Books_HD_8314929977-1024x682.jpg);*/
    background: url(../../wwwroot/css/Images/wallpaperflare.com_wallpaper13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pictureBookThemeParents {
    /*background: url(../../wwwroot/css/Images/Books_HD_8314929977-1024x682.jpg);*/
    background: url(../../wwwroot/css/Images/wallpaperflare.com_wallpaper11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.deleteTheme {
    background: url(../../wwwroot/css/Images/wallpaperflare.com_wallpaperDelete.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.studentPic {
    height:200px;
    width:200px;
}

.borderColour {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}

dd {
    margin-left: 44px !important;
    max-width: 64.333333% !important;
}
.box {
    /*background-color:#110404;*/
    background-color: #e5e5e5;
    border: none;
    box-shadow:5px 10px 8px #888888;
    border-radius:150px;
    width:50%;
    padding-left:15%;
    height:50%;
    padding-bottom:2%;
}

.biggerBox {
    /*background-color:#110404;*/
    background-color: #e5e5e5;
    border: none;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 150px;
    width: 100%;
    padding-left: 15%;
    height: 50%;
    padding-bottom: 2%;
}

.boxIndexParent {
    background-color: #136ad5;
    border: none;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 150px;
    width: 30%;
    padding:8px;
    position:relative;
}

.boxIndex {
    background-color: #136ad5;
    border: none;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 150px;
    width: 30%;
    padding: 8px;
    position: relative;
}

table {
    /*table-layout:table table-bordered table-striped table-hover table-light;*/
}
