@model MySchoolDiaryProject.Web.ViewModels.Course.CourseInputViewModel

@{
    ViewData["Title"] = $"Edit course {Model.Name}";
    var teachers = @Model.Teachers.Select(x => new SelectListItem(x.Name + " " + x.MiddleName + " " + x.LastName, x.Id.ToString()));
}

<body class="pictureBookThemeTeachers">
    <h1 style="color:ghostwhite;">@ViewData["Title"]</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-controller="Course">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label" style="color:ghostwhite;"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label" style="color:ghostwhite;"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherId" class="control-label" style="color:ghostwhite;">Teacher</label>
                    <select asp-for="TeacherId" asp-items="teachers" class="form-control"></select>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @*<a asp-action="Index">Back to List</a>*@
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
